<div id='tasks'>

<h1>TimeClock</h1>

<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Project Name</th>
      <th>Time</th>
      <th>Clock</th>
      <th>Last Clock</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% rTasks = [] %>
    <% TimeCard.where("user_id == "+current_user.id.to_s).group("task_id").order("updated_at DESC").each do |entry| %>
      <% if entry.task_id %>
        <% rTasks << Task.find(entry.task_id) %>
      <% end %>
    <% end %>
    <% rTasks.reject!(&:blank?) %>
    <% rTasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= Project.find(task.project_id).name %></td>
        <td>
          <% entries = TimeCard.where("user_id == "+current_user.id.to_s+" and task_id == "+task.id.to_s).order("updated_at DESC") %>
          <% @hours = 0 %>
          <% if entries %>
            <% entries.each do |entry| %>
              <% if entry.clocked_in == 1 %>
                <% @hours += (Time.now-entry.created_at.to_time)/1.hour %>
              <% else %>
                <% @hours += (entry.updated_at.to_time-entry.created_at.to_time)/1.hour %>
              <% end %>
            <% end %>
          <% end %>
          <% @mins = @hours*60 %>
          <% @hours -= @mins/60 %>
          <%= @hours.to_i.to_s.rjust(2, "0")+":"+@mins.to_i.to_s.rjust(2, "0") %>
        </td>
        <td>
          <% ctask = TimeCard.find_by(user_id: current_user.id, task_id: task.id, clocked_in: 1) %>
        	<% if ctask %>
	        	<%= form_tag({controller: "time_cards", id: ctask.id, action: "update"}, {method: "patch"}) do %>
	        		<input type='hidden' name='time_card[clocked_in]' value='0' class='clock_out_field'>
	        		<%= submit_tag("Clock Out") %>
	        	<% end %>
	        <% else %>
	        	<%= form_tag(controller: "time_cards", action: "create", method: "post") do %>
	        		<input type='hidden' name='time_card[task_id]' value='<%= task.id %>'>
              <input type='hidden' name='time_card[user_id]' value='<%= current_user.id %>'>
	        		<input type='hidden' name='time_card[clocked_in]' value='1'>
	        		<%= submit_tag(" Clock In ") %>
	        	<% end %>
	        <% end %>
        </td>
        <td>
          <% if entries.first %>
            <%= entries.first.updated_at.to_time.strftime('%a, %d %b %Y @ %H:%M:%S') %>
          <% else %>
            Never
          <% end %>
        </td>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
	<%= link_to 'New Task', new_task_path %>
<% end %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<br>
<p id="notice"><%= notice %></p>

</div>