<div class='navbar-fixed' style='position: fixed; left: 0px; top: 0px;'>
	<nav class='amber'>
		<div class='nav-wrapper container'>
			<a href='#' class='brand-logo'>TimeClock</a>
			<ul class='right'>
				<% if current_user.admin %>
					<li><%= link_to 'New Project', new_project_path, :class => "btn waves-effect waves-light" %></li>
					<li><%= link_to 'New Task', new_task_path, :class => "btn waves-effect waves-light" %></li>
				<% end %>
				<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn waves-effect waves-light" %></li>
			</ul>
		</div>
	</nav>
</div>

<br><br><br>

<div id='tasks'>

<p id="notice"><%= notice %></p>

<!--Table for Recent Tasks-->
<table>
  <thead>
    <tr>
      <th colspan="7">Recent Tasks</th>
    </tr>
    <tr>
      <th>Task Name</th>
      <th>Project Name</th>
      <th>Time</th>
      <th>Clock</th>
      <th>Last Clock</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% rTasks = [] %>
    <% TimeCard.where("user_id == "+current_user.id.to_s).group("task_id").order("updated_at DESC").each do |entry| %>
      <% if entry.task_id %>
        <% begin %>
  	      <% rTasks << Task.find(entry.task_id) %>
  	    <% rescue %>
  	    <% end %>
      <% end %>
    <% end %>
    <% rTasks.reject!(&:blank?) %>
    <% rTasks.take(5).each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= Project.find(task.project_id).name %></td>
        <td>
          <% entries = TimeCard.where("user_id == "+current_user.id.to_s+" and task_id == "+task.id.to_s).order("updated_at DESC") %>
          <% @hours = 0 %>
          <% if entries %>
            <% entries.each do |entry| %>
              <% if entry.clocked_in == 1 %>
                <% @hours += (Time.now-entry.created_at.to_time)/1.hour %>
              <% else %>
                <% @hours += (entry.updated_at.to_time-entry.created_at.to_time)/1.hour %>
              <% end %>
            <% end %>
          <% end %>
          <% @mins = @hours*60 %>
          <% @hours -= @mins/60 %>
          <%= @hours.to_i.to_s.rjust(2, "0")+":"+@mins.to_i.to_s.rjust(2, "0") %>
        </td>
        <td>
          <% ctask = TimeCard.find_by(user_id: current_user.id, task_id: task.id, clocked_in: 1) %>
        	<% if ctask %>
	        	<%= form_tag({controller: "time_cards", id: ctask.id, action: "update"}, {method: "patch"}) do %>
	        		<input type='hidden' name='time_card[clocked_in]' value='0' class='clock_out_field'>
              <button type='submit' class="btn waves-effect waves-light red">Clock Out</button>
	        	<% end %>
	        <% else %>
	        	<%= form_tag(controller: "time_cards", action: "create", method: "post") do %>
	        		<input type='hidden' name='time_card[task_id]' value='<%= task.id %>'>
              <input type='hidden' name='time_card[user_id]' value='<%= current_user.id %>'>
	        		<input type='hidden' name='time_card[clocked_in]' value='1'>
	        		<button type='submit' class="btn waves-effect waves-light green">Clock In</button>
	        	<% end %>
	        <% end %>
        </td>
        <td>
          <% if entries.first %>
            <%= entries.first.updated_at.to_time.strftime('%a, %d %b %Y @ %H:%M:%S') %>
          <% else %>
            Never
          <% end %>
        </td>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--List of All Projects and Tasks-->
<h5>All Projects</h5>
<ul class='collapsible amber'>
  <% Project.all.each do |project| %>
    <li>
      <div class='collapsible-header green lighten-1'><%= project.name %></div>
      <div class='collapsible-body'><br>
        <% Task.where("project_id == "+project.id.to_s).each do |task| %>
          <% entries = TimeCard.where("task_id == "+task.id.to_s) %>
          <% @hours = 0 %>
          <% if entries %>
            <% entries.each do |entry| %>
              <% if entry.clocked_in == 1 %>
                <% @hours += (Time.now-entry.created_at.to_time)/1.hour %>
              <% else %>
                <% @hours += (entry.updated_at.to_time-entry.created_at.to_time)/1.hour %>
              <% end %>
            <% end %>
          <% end %>
          <% @mins = @hours*60 %>
          <% @hours -= @mins/60 %>
          <% @total_hours = @hours.to_i.to_s.rjust(2, "0")+":"+@mins.to_i.to_s.rjust(2, "0") %> 
          <% ctask = TimeCard.find_by(user_id: current_user.id, task_id: task.id, clocked_in: 1) %>
          <% if ctask %>
            <%= form_tag({controller: "time_cards", id: ctask.id, action: "update"}, {method: "patch"}) do %>
              <input type='hidden' name='time_card[clocked_in]' value='0' class='clock_out_field'>
              <%= task.name+" - "+@total_hours %>
              <button type='submit' class="btn waves-effect waves-light red">Clock Out</button>
            <% end %>
          <% else %>
            <%= form_tag(controller: "time_cards", action: "create", method: "post") do %>
              <input type='hidden' name='time_card[task_id]' value='<%= task.id %>'>
              <input type='hidden' name='time_card[user_id]' value='<%= current_user.id %>'>
              <input type='hidden' name='time_card[clocked_in]' value='1'>
              <%= task.name+" - "+@total_hours+"  => " %>
              <button type='submit' class="btn waves-effect waves-light green">Clock In</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<br><br><br>

</div>